# -------------------------------------------------------------------
# Flutter/Dart
# -------------------------------------------------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# -------------------------------------------------------------------
# Android
# -------------------------------------------------------------------
android/app/build/
android/.gradle/
android/local.properties
android/GeneratedPluginRegistrant.java
android/app/src/main/res/values/google-services.xml
android/app/google-services.json
*.jks
*.keystore
*.bat

# -------------------------------------------------------------------
# iOS/macOS
# -------------------------------------------------------------------
ios/Flutter/.last_build_id
ios/Flutter/GeneratedPluginRegistrant.h
ios/Flutter/GeneratedPluginRegistrant.m
ios/Flutter/appframeworkdir
ios/.generated/
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.swift
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/
**/doc/api/
*.xcworkspace
*.xcscheme
*.xsctest
*.xcconfig
*.xcodeproj

# -------------------------------------------------------------------
# Desktop (Windows/Linux)
# -------------------------------------------------------------------
windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake
linux/flutter/ephemeral/
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake

# -------------------------------------------------------------------
# IDEs and Editors
# -------------------------------------------------------------------
.idea/
*.iml
*.iws
*.ipr
.vscode/
.history
.sublime-project
.sublime-workspace

# -------------------------------------------------------------------
# System Files
# -------------------------------------------------------------------
.DS_Store
Thumbs.db
desktop.ini
*.log